body {
    margin: 50px;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: larger;
}

table {
    border-collapse: collapse;
    border: solid 10px;
}

div {
    margin-bottom: 10px;
}

td {
    border: solid 2px;
    width: 160px;
    height: 120px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}